<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Css/style.css" />
		<title>Parent Signup</title>
	</head>

	<body>
		<header>
			<div class="image-container">
				<img src="/images/strive-high-logo.svg" alt="strive-high-logo" />
			</div>
			<button>View Website</button>
		</header>
		<h1>Welcome,</h1>
		<nav>
			<ul>
				<li><a href="/reports/daily">Daily Report</a></li>
				<li><a href="/reports/weekly">Weekly Report</a></li>
				<li><a href="/reports/monthly-trend">Monthly Trend Report</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</nav>
		<footer>
			<p>
				Developed with ❤ by Kgotso Matuludi Copyright &copy; 2024 Strive High
			</p>
		</footer>
	</body>
</html>
