<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="stylesheet" href="/Css/style.css" />
	</head>
	<body>
		<header>
			<div class="image-container">
				<img src="/images/strive-high-logo.svg" alt="strive-high-logo" />
			</div>
			<button>View Website</button>
		</header>
		<div class="main">
			<h1>Welcome to the Strive High Online Bus Registration System</h1>
			<p>
				Due to excessive administrative actions, the Strive High Secondary
				School preferred to move from a paper base bus registration system to an
				online bus registration system.
			</p>
		</div>
		<div class="links">
			<p>Already have an Account?<a href="/parent/login">Login</a></p>
			<p>
				New Parents should Register an Account to be added into the Strive High Bus System<a
					href="/parent/signup"
				>
					Create an Account</a
				>
			</p>
			<p>Admin Login<a href="/admin/login"> Here</a></p>
		</div>
		<footer>
			<p>
				Developed with ❤ by Kgotso Matuludi Copyright &copy; 2024 Strive High
			</p>
		</footer>
	</body>
</html>
