<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Css/style.css" />
		<title>Learner Registration</title>
	</head>

	<body>
		<header>
			<div class="image-container">
				<img src="/images/strive-high-logo.svg" alt="strive-high-logo" />
			</div>
			<button>View Website</button>
		</header>
		<div class="main">
			<h1>Register A Learner</h1>
			<form action="" method="POST">
				<input
					type="text"
					name="name_surname"
					placeholder="Name and Surname"
					required
				/>
				<input
					type="number"
					name="cellPhoneNumber"
					placeholder="Cell Phone Number"
					required
				/>

				<select id="grade" name="grade" required>
					<option value="" disabled selected>Grade</option>
					<option value="8">Grade 8</option>
					<option value="9">Grade 9</option>
					<option value="10">Grade 10</option>
					<option value="11">Grade 11</option>
					<option value="12">Grade 12</option></select
				><br />
				<button type="submit">Register Learner</button>
				<a href="/admin/Dashboard">See Dashboard</a>
			</form>
		</div>
		<footer>
			<p>
				Developed with ❤ by Kgotso Matuludi Copyright &copy; 2024 Strive High
			</p>
		</footer>
	</body>
</html>
