<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Css/style.css" />
		<title>Parent Signup</title>
	</head>

	<body>
		<header>
			<div class="image-container">
				<img src="/images/strive-high-logo.svg" alt="strive-high-logo" />
			</div>
			<button>View Website</button>
		</header>
		<div class="main">
			<h1>Register New Account - Parent</h1>
			<form action="" method="POST">
				<input
					type="text"
					name="name_surname"
					placeholder="Name and Surname"
					required
				/>
				<input
					type="number"
					name="cellPhoneNumber"
					placeholder="Cell Phone Number"
					required
				/>
				<input type="email" name="email" placeholder="Email" required />
				<input
					type="password"
					name="password"
					placeholder="Password"
					required
				/>
				<button type="submit">Sign Up</button>
			</form>
		</div>
		<footer>
			<p>
				Developed with ❤ by Kgotso Matuludi Copyright &copy; 2024 Strive High
			</p>
		</footer>
	</body>
</html>
