<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/Css/style.css" />
	<title>Parent Login</title>
</head>

<body>
	<header>
		<div class="image-container">
			<img src="/images/strive-high-logo.svg" alt="strive-high-logo" />
		</div>
		<button>View Website</button>
	</header>
	<div class="main">
		<h1>Parent Login</h1>
		<!-- Display error message if it exists -->
        <% if (typeof errorMessage !== 'undefined') { %>
            <div style="color: rgb(240, 98, 98); font-size:20px;">
                <%= errorMessage %>
            </div>
        <% } %>

		<form action="" id="parents" method="post">
			<input type="email" name="email" placeholder="Email" required />
			<input type="password" name="password" placeholder="Password" required />
			<button type="submit">Login</button>
		</form>
		<a href="/">Home</a>
	</div>
	<footer>
		<p>
			Developed with ❤ by Kgotso Matuludi Copyright &copy; 2024 Strive High
		</p>
	</footer>
</body>

</html>