@font-face {
	font-family: "Gilroy";
	src: url("../Fonts/Gilroy-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Gilroy";
	src: url("../Fonts/Gilroy-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../Fonts/Gilroy-SemiBold.ttf");
	font-weight: 400;
}
/* style.css */

body {
	font-family: "Gilroy", sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(14, 105, 93);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	color: rgb(224, 205, 205);
}

body .links{
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	background-color: #fff;
	color: white;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.image-container {
	position: relative;
	overflow: hidden;
	width: 5%;
}

.image-container img {
	width: 100%;
	object-fit: fill;
}
header button {
	background-color: orange;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

header button:hover {
	background-color: rgb(104, 70, 7);
}

h1 {
	color: #fff;
}

label{
	color: #7c5050;
	display: block;
    margin-bottom: 5px;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form {
    background-color: #fff;
    padding: 20px;
	display: flex;
	flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

table{
	margin: 0 16px;
}

.search form{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	padding: 10px 20px;
	width: 30%;
	margin: 32px 16px;
}

.search form button{
	width: fit-content;
}

.search form input,
.search form input:focus,
.search form input:active{
	width: 100%;
	border: none;
	outline: none;
	margin: 0;
}

form button {
	background-color: orange;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

input, select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"]{
	margin: 10px;
}

/* a tags */
a{
    color: blue;
    text-decoration: none;
    font-weight: bold;
	font-size: 1.3rem;
}

a:hover {
    color: rgb(3, 78, 3);
}

/* form */
form button:hover {
	background-color: rgb(104, 70, 7);
}

footer {
	background-color: #fff;
	color: black;
	text-align: center;
	padding: 10px 0;
	margin-top: auto;
}
